# Cấu hình cổng chạy ứng dụng (Mặc định Render sẽ tự gán cổng qua biến PORT)
PORT=3000

# Chuỗi kết nối MongoDB Atlas cho tài khoản CHỈ ĐỌC (Least Privilege - Read Only)
# Thay <password> bằng mật khẩu của user_read_23IT055
MONGO_URI_READ=mongodb+srv://user_read_23IT055:ReadPass23IT055@@cluster0.xxxxx.mongodb.net/DB_23IT055?retryWrites=true&w=majority

# Chuỗi kết nối MongoDB Atlas cho tài khoản CHỈ GHI / ĐỌC GHI (Least Privilege - Write)
# Thay <password> bằng mật khẩu của user_write_23IT055
MONGO_URI_WRITE=mongodb+srv://user_write_23IT055:WritePass23IT055@@cluster0.xxxxx.mongodb.net/DB_23IT055?retryWrites=true&w=majority

# Chuỗi kết nối lưu Session tập trung (Sử dụng user_write để có quyền ghi session vào DB_23IT055)
# MONGO_URI_SESSION=mongodb+srv://user_write_23IT055:<password>@cluster0.xxxxx.mongodb.net/DB_23IT055?retryWrites=true&w=majority
MONGO_URI_SESSION=mongodb+srv://phudang0611_db_user:pass123456@cluster0.0x5krk0.mongodb.net/DB_23IT055?retryWrites=true&w=majority
# Khóa bí mật cho Session
SESSION_SECRET=LePhuDang_23IT055_SecretKey_CloudComputing2026
